<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Книжный каталог</h1>
    <h2>{{ title }}</h2>
    {{ test }}
    <ul>
        {% for book in book_list %}
            <li>
                <ul>
                    <li>Название {{ book.title }}</li>
                    <li>Автор {{ book.author.name }}</li>
                    <li>Дата издания {{ book.published_date }}</li>
                    <li>Издательство {{ book.publisher.name }} ({{ book.publisher.country }})</li>
                    <li>Средняя оценка {{ book.average_review_rate }}</li>
                    <li>Наличие в магазинах: {{ book.available_in_stores }}</li>
                    <li>Список магазинов: {% for store in book.stores.all %} {{ store.name }}({{ store.city }});{% endfor %}</li>
                </ul>
                <br>
        {% empty %}
            <li>Ничего не найдено</li>
        {% endfor %}
    </ul>
</body>
</html>